.example-input{
    margin: auto;
    width: 50vw;
    width: 50%;
    padding: 10px;
    border: solid black 5px;
}

#example-delete-text:hover{
    color: blue;
    cursor: pointer;
<<<<<<< HEAD
}
#example-edit-text:hover{
    color: blue;
    cursor: pointer;
=======
>>>>>>> 8dce802537e65babcb32460885d5e8ee035dd3da
}