.formElement {
    box-sizing: border-box;
    color: #dfd9d9 !important;
    background-color: #51535a !important;
  }
  .dropdown:hover .dropbtn {
    background-color: #51535a !important;
  }
  #closed:focus {
    background-color: #8d8f8e !important;
  }
  ::placeholder {
    color: #dfd9d9 !important;
  }
  
  body,p,h1,h2,h3,div{
    color: white;
  }